/*==================夏麒麟  开始===================*/
html {
	/*因为引入了bootstrap库还有一些其他库，统一这个font-size*/ 
	font-size: 10px !important;
}
body {
	background: #000;
}
/*顶部背景条*/
.top-bg {
	/*height: 50px;
	line-height: 50px;*/
	height: 5rem;
	line-height: 5rem;
	color: #FFF;
	font-size: 1.8rem;/*18px*/
	background: #2D3949;
}
/*顶部的按钮列表*/
.top-icon-list>i {
	/*10px*/
	margin-right: 1rem;
}
/*左上角信息提示面板*/
.tips-pane {
	color: #FFF;
	font-size: 1.6rem;
	border-right: 3rem solid;
	-webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#0E0E0E));
	-webkit-border-image: -webkit-linear-gradient(#FFF, #0E0E0E);
	-moz-border-image: -moz-linear-gradient(#FFF, #0E0E0E);
	-o-border-image: -o-linear-gradient(#FFF, #0E0E0E);
	border-image: linear-gradient(#FFF, #0E0E0E) 30 30;
}
.tips-pane .tips-item label{
	float: left;
}
.tips-pane .tips-item span{
	float: right;
}
/*右侧缩略图*/
.right-box {
	position: relative;
	height: 100%;
	color: #FFF;
	height: 450px;
	border-left: 2px solid #101317;
	border-bottom: 2px solid #101317;
}
/*缩略图标题*/
.right-title {
	position: absolute;
	left: 0;
	top: 0;
	
	font-size: 16px;
}
/*右侧缩略图主体内容*/
.right-content {
	position: absolute;
	top: 3rem;
	left: 0;
	width: 100%;
	height: 28rem;
	overflow-y:auto;
}
.right-content img {
	width: 100%;
	height: 50px;
	margin-top: 5px;
}
/*缩略图功能面板*/
.right-footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	
}
.right-footer  i {
	cursor: pointer;
	margin-right: 1rem;
}

/*底部功能面板*/
.mune-panel {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	/*height: 13rem;*/
}
/*tab切换按钮*/
.mune-panel>.nav>li {
	margin-right: 4px;

}
.mune-panel>.nav>li>a {
	color: #FFF;
	background: #435969;
	
}
.mune-panel>.tab-content {
	margin-top: 2rem;
}


/*重写按钮大小*/ 
.btn-group-lg {
	width: 135px;
	height: 60px;
	border-radius: 24px !important;
	background: #4C6584;
	color: #FFF;
	margin: 0 20px;
}
.btn-group-lg:hover {
	background: #6E92B7;
}
.mune-panel .tab-pane .fa {
	margin-right: 10px;
}

/*切换按钮*/
.shift-btn {
	position: relative;
	width: 65px;
	height: 60px;
	margin-right: 20px;
	cursor: pointer;
}
.shift-btn .half-circle {
	position: absolute;
	background: #30445C;
	width: 30px;
	height: 60px;
	
}
.activeBtn {
	background: #4169E1 !important;
}

.shift-btn .left {
	left: 0;
	top: 0;
	border-radius: 30px 0 0 30px;
	
}
.shift-btn .right {
	left: 35px;
	top: 0;
	border-radius: 0 30px 30px 0;
}
.shift-btn .middle {
	position: absolute;
	left: 18px;
	top: 18px;
	width: 26px;
	height: 26px;
	line-height: 30px;
	color: #FFF;
	background-color: #99AAC4;
	border-radius: 50%;
	box-shadow: 0 0 5px #376939,
				0 0 10px #176698,
				0 0 15px #355C84;
	text-align: center;
	z-index: 2;
}
.image-pane {
	padding-right: 0;
}
/*中间图像部分*/
.image-header-info {
	color: #FFF;
	margin-top: 10px;
	font-size: 16px;
}
.image-header-info .info-1 {
	margin-right: 40px;
}
/*实时图像*/
.image-online {
	border: 1px solid #CCC;
	color: #FFF;
	
	/*overflow: hidden;*/
}
/*左右图像*/
.image-online .image-online-left,.image-online .image-online-right {
	float: left;
	height: 100%;
	
}
.image-online .image-online-left {
	width: 36.58888rem;
	border-right: 1px dashed #007DDB;
	padding-right: 0.5rem;
	margin-right: 0.5rem;
}
.image-online .image-online-right {
	/*width: 100%;*/
	
	width: 36.58888rem;
}
.image-online .title {
	height: 1.666667rem;
	margin-bottom: 2rem;
}
/*这里用到了那个rem  html的font-size：12px*/
.image-online .content{
	width: 100%;
	/*height: 35.4rem;*/
	/*height: 34rem;*/
	overflow: hidden;
	
}
.image-online .content img {
	width: 36.58888rem;
	height: 100%;
	background-size: cover;
}
/*图像部分结束*/

/*==================夏麒麟 结束===================*/


/*==================梅帆 开始===================*/



/*==================梅帆 结束===================*/